$tablet-portrait-width: 770px;
$small-mobile-portrait-width: 370px;

$primary-font: 'Quattrocento Sans', sans-serif !default;

$color-background: #f4f6f8;
$color-primary: #ffffff;

$color-primary-dark-900: #131924;
$color-primary-dark-700: #424750;
$color-primary-dark-500: #71757c;
$color-primary-dark-300: #a1a3a7;
$color-primary-dark-100: #e2e2e2;

$color-primary-medium-900: #6f6f6f;
$color-primary-medium-700: #8c8c8c;
$color-primary-medium-500: #c5c5c5;
$color-primary-medium-300: #e2e2e2;
$color-primary-medium-100: #f0f0f0;

$color-primary-light-900: #7c8b9e;
$color-primary-light-700: #96a2b1;
$color-primary-light-500: #cbd1d8;
$color-primary-light-300: #e5e8ec;
$color-primary-light-100: #f1f3f5;

$color-active-900: #455ef9;
$color-active-700: #6a7efa;
$color-active-500: #8f9efb;
$color-active-300: #b5bffd;
$color-active-100: #dadffe;


$color-error-900: #f54b5e;
$color-error-400: #fddbdf;

$color-warning-900: #f2bf18;
$color-warning-400: #fcf2d1;

$color-success-900: #48d2a0;
$color-success-400: #daf6ec;
