@import './../../scss/vars';
@import './../../scss/rem';

.bcio.ui.message {
    max-width: 1200px;
    margin: 0 auto 15px auto;
    color: $color-error-900;
    background-color: $color-primary;
    font-size: rem(13px);
    box-shadow: 0 0 0 1px $color-error-900 inset, 0 0 0 0 transparent;
}
